/* Desktop Displays*/
@media screen and (min-width: 720px) {
    body {
        background-image: url(../images/clouds-cloudy-cold-167699.jpg);
        background-repeat: no-repeat;
        background-position: center; 
        background-size: 290%;
    }

    /* Header */
    header {
        height: 200px;
    }

    header .logo {
        position: relative;
        padding-top: 16px;
        margin-left: 8.5%;
        width: 165px;
        float: left;
    }

    header #motto {
        padding-top: 60px;
        font-size: 80%;
    }

    /* Navigation D */
    button {
        display: none;
    }
    nav li{
        float: left;
    }

    /* Content D*/
    main{
        padding-top: 2%;
        margin-left: 10%;
        margin-right: 10%;
        background-color: white;
        /* opacity: 0.8; */
    }
    #prestonmap {
        height: 400px;
        width: 100%;
        border: 0;
    }

    footer {
        padding-bottom: 5%;
    }
}
@media screen and (max-width: 720px) {
    nav ul.hide {
    display: none;
    }
}