body {
    background: #D5DEE0;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 400

}
header {
    background-image: url("images/idahomap.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px;
    margin: 0px;
}
.logo {
    width: 100px;
    float: left;
}
h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 75px;
}
nav {
    float:right

}
nav ul li a{
    display: inline;
}
main h2 {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 50px
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25%;
    background:#5C6061
}
footer h4{
    font-size: 25px;
    text-indent: 12px;
    color: #D5DEE0;
}