/* For Tablet Displays or displays between 768 and 1024 px */
@media only screen and (min-width : 665px) and (max-width : 1024px) {
    h1 {
    font-size: 4rem;
    }

    #description {
    font-size: 1.25rem;
    }

    section{
    display: grid;
    grid-gap: 3rem;
    padding-left: 5%;;
    }

    #welcome {
    grid-column: 1;
    grid-row: 2;
    }

    main section div p {
    grid-column: 1;
    grid-row: 2;
    font-family: 'Nunito Sans', sans-serif;
    justify-content: center;
    }

    #reservationlink {
    grid-column: 1;
    grid-row: 3;
    font-family: 'Nunito Sans', sans-serif;
    justify-content: center;
    }

    #room {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    width: 100%;
    justify-content: center;
    min-width: 20rem;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 6rem;
    }

    article .featured {
        display: block;
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}
