/* Styles for temples page */
article {  
  font-size: 1.25rem;
  padding-top: 0;
  margin-left: 5%;
  margin-right: 5%;}

section {
  grid-gap: 1rem;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  padding-bottom: 0;
  padding-right: 5%;
  padding-left: 5%;
}

#gilbertContainer {
  grid-row: 1;
  grid-column: 1;
}

#konaContainer {
  grid-row: 2;
  grid-column: 1;
}

#newportContainer {
  grid-row: 3;
  grid-column: 1;
}

#oquirrhContainer {
  grid-row: 4;
  grid-column: 1;
}

.mainimages {
  width: 25rem;
}

.templeContainer {
  background-color: white;
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

/* For Tablet Displays or displays between 665 and 1024 px */
@media only screen and (min-width : 665px) and (max-width : 1024px) {
  section {
    padding-right: 5%;
  }
}
/* For Mobile Displays or displays smaller than 665 px */
@media only screen and (max-width : 665px) {
  .mainimages {
    width: 15rem;
  }

  section {
    padding-right: 5%;
  }
}