body {
    background-color:white;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
}
/* Header */
header {
    background-color: #dadcdf;
    height: 125px;
}
header .logo {
    position: relative;
    padding-top: 14px;
    margin-left: 8%;
    width: 95px;
    float: left;
}
header #motto {
    text-align: center;
    color: #2D4059;
    font-size: 60%;
    font-weight: bold;
    padding-top: 35px;
}
/* Navigation */
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-weight: bold;
    background-color: #2D4059;
}
nav li{
    float: none;
}
nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 16px 18px;
    text-decoration:none;
}
.active {
    background-color: #44617f;
}
nav li a:hover {
    background-color: lightslategray;
}
/* Content */
@media screen and (max-width: 415px){
    .forecast {
        display: none;
    }
}
section{
    margin-left: 13px;
}
.weatherwidget-io {
    width: 98%;
}
h1{ 
    text-align: center;
}
p{
    font-family: 'Open Sans', sans-serif;
}
#about {
    margin-left: 13px;
    margin-right:5px;
}
#prestonid {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#prestonmap {
    width: 98%;
}
/* Footer */
footer a{
    font-style: normal;
    color: black;
}
div{
    height: 100%;
    width: 100%;
}
footer {
    position: absolute;
    padding-bottom: 20%;
    width: 100%;
    height: 15%;
    background: #dadcdf;
    text-indent: 12px;
    font-size: 80%;
    font-weight: bold;
}